<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Post List</h1>
      <hr />

      <ul class="list-group" *ngFor="let post of posts">
        <li class="list-group-item">
          {{ post.id }})
          <button 
            (click)="deletePost(post)"
            class="btn btn-danger btn-sm float-right" >Delete</button>
            <button 
            (click)="updatePost(post)"
            class="btn btn-primary btn-sm float-right mr-2" >update</button>
          <br>
          {{ post.title }}
          
        </li>
        <br>
      </ul>
    </div>
  </div>
</div>