<div class="container">
  <div class="row">
    <div class="col-md-12">
      <blockquote class="blockquote">
        <p>For 50 years, WWF has been protecting the future of nature. The world's leading conservation organization,
          WWF works in 100 countries and is supported by 1.2 million members in the United States and close to 5 million
          globally.</p>
        <footer class="blockquote-footer">From WWF's website</footer>
      </blockquote>
      <div class="jumbotron">
        <h1>Bootstrap Tutorial</h1>
        <p>Bootstrap is the most popular HTML, CSS...</p>
      </div>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-6">
      <ul class="list-group">
        <li class="list-group-item">One</li>
        <li class="list-group-item">Two</li>
        <li class="list-group-item">Three</li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="row">
    <div class="col-md-12">
      <button class="btn btn-primary mr-1">
        <span class="spinner-border spinner-border-sm"></span>
        Loading..
      </button>
      <button class="btn btn-dark m-1">
        <span class="spinner-border spinner-border-sm"></span>
        Loading..
      </button>
      <button type="button" class="btn btn-outline-success">Success</button>
    </div>
  </div>
</div>